body{
  background-color:lightgrey;
  font-family: Arial, sans-serif;
}
.resume-box{
  width: 700px;
  margin: 30px auto;
  padding:20px auto;
  border:2px solid black;
  background-color;white;
}
header{
  text-align:center;
  border-bottom: 2px dashed black;
  padding-bottom:15px ;   
}
section{
  margin-top:20px;
}
h2{
  border-bottom: 1px solid grey;
  padding-bottom:5px;
}
.contact-details {
  font-style:normal;
}
.contact-details a{
  margin-right:20px;
}

footer{
  text-align:center;
}
